#home_div{
    height: 100%;
    width: 100%;
    font-family: "arial black";
    background-image: url("/images/t1.jpg");
    background-repeat: no-repeat;
    background-size: 100%,100%;
    margin: auto;
}

#first_div{
    height: 800px;
    width: 100%;
}

.text0{
    margin-left: 0;
    width: 150px;
    height: 30px;
}

div form .button{
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-left: 30px;
}