#home_div{
    height: 1000px;
    width: 100%;
    background-color: aquamarine;
    font-family: "arial black";
    background-image: url("https://hbimg.huabanimg.com/3676869f726211be0a4ee48c172c67d90d5cf02fcd837-0AgZfo_fw658/format/webp");
}