#first_div{
    width: 100%;
    height: 100%;
    background-color: #6ca4ff;
    margin: auto;
    background-image: url("https://hbimg.huabanimg.com/80549339cc57ca12ca97255ce41497ab4f040219a09d-1roUe7");
    background-repeat: no-repeat;
    background-size: 100%,100%;
}

.register-text{
    text-align: center;
}