<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登陆</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>


<div id="home_div" align="center">
    <br>
    <h1>登陆系统</h1>
    <br>
    <form action="/doLogin" method="post">
        <p>
            账户<input type="text" name="username" value="请输入用户名"
                     onfocus="
				    if(this.value === '请输入用户名')this.value=''
				"
                     onblur="
					if(this.value === '')this.value = '请输入用户名'
				"
        />
        </p>
        <p>
            密码<input type="password" name="password" />
        </p>
        <input type="submit"/>
    </form>

</div>

</body>
</html>
