<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css"/>
    <script src="/static/js/register.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="first_div">
    <br>
    <h1 class="register-text">注册系统</h1>
    <br>
    <br>
    <form action="" method="post" name="registerForm">
        <div class="register-text" >
            <label>账户</label>
            <input type="text" name="username" placeholder="用户名">
        </div>
        <br>
        <div class="register-text" >
            <label>密码</label>
            <input type="password" name="password" placeholder="设置密码">
        </div>
        <br>
        <div class="register-text" >
            <label>密码</label>
            <input type="password" name="password2" placeholder="再次输入密码">
        </div>
        <br>
        <div class="register-text" >
            <label>姓名</label>
            <input type="text" name="name" placeholder="输入名字">
        </div>
        <br>
        <div class="register-text" >
            <label>性别</label>
            <select name="sex" style="width: 160px;">
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
        </div>
        <br>
        <div class="register-text" >
            <label>电话</label>
            <input type="text" name="mobile" placeholder="输入电话">
        </div>
        <br>
        <div class="register-text" >
            <label>QQ</label>
            <input type="text" name="qq" placeholder="输入QQ">
        </div>
        <br>
        <div class="register-text">
            <input id="register-button" type="button" value="注册" onclick="register(this)">
        </div>
    </form>
    <br>
    <br>
    <br>
</div>
</body>
</html>
