<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongqing.dao.JoinActivityMapper" >
  <resultMap id="BaseResultMap" type="com.chongqing.domain.JoinActivity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="actity_name" property="actityName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMapUI" type="com.chongqing.domain.JoinActivity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="actity_name" property="actityName" jdbcType="VARCHAR" />
    <association property="activity" javaType="com.chongqing.domain.Activity">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
      <result column="create_name" property="createName" jdbcType="VARCHAR" />
      <result column="create_id" property="createId" jdbcType="BIGINT" />
      <result column="activity_time" property="activityTime" jdbcType="TIMESTAMP" />
      <result column="activity_long" property="activityLong" jdbcType="VARCHAR" />
      <result column="activity_where" property="activityWhere" jdbcType="VARCHAR" />
      <result column="all_person" property="allPerson" jdbcType="INTEGER" />
      <result column="join_person" property="joinPerson" jdbcType="INTEGER" />
      <result column="status" property="status" jdbcType="CHAR" />
    </association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, activity_id, user_id, sign_time, user_name, score, actity_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chongqing.domain.JoinActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from join_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from join_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByMap" resultMap="BaseResultMapUI" parameterType="java.util.Map" >
    select *
    from join_activity AS a
    LEFT JOIN activity AS b
    ON a.activity_id = b.activity_id
    <where>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT}
      </if>
      <if test="userId != null" >
       AND user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="startTime !=null and endTime ! = null" >
        AND <![CDATA[sign_time >= #{startTime} AND sign_time < #{endTime}]]>
      </if>
      <if test="userName != null" >
       AND user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="score != null" >
       AND score = #{score,jdbcType=INTEGER}
      </if>
      <if test="actityName != null" >
       AND actity_name = #{actityName,jdbcType=VARCHAR},
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from join_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.chongqing.domain.JoinActivityExample" >
    delete from join_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chongqing.domain.JoinActivity" >
    insert into join_activity (id, activity_id, user_id, 
      sign_time, user_name, score, 
      actity_name)
    values (#{id,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{signTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{actityName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chongqing.domain.JoinActivity" >
    insert into join_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="signTime != null" >
        sign_time,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="actityName != null" >
        actity_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="actityName != null" >
        #{actityName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chongqing.domain.JoinActivityExample" resultType="java.lang.Integer" >
    select count(*) from join_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update join_activity
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.signTime != null" >
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.actityName != null" >
        actity_name = #{record.actityName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update join_activity
    set id = #{record.id,jdbcType=BIGINT},
      activity_id = #{record.activityId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      user_name = #{record.userName,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=INTEGER},
      actity_name = #{record.actityName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chongqing.domain.JoinActivity" >
    update join_activity
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="signTime != null" >
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="actityName != null" >
        actity_name = #{actityName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chongqing.domain.JoinActivity" >
    update join_activity
    set activity_id = #{activityId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      user_name = #{userName,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      actity_name = #{actityName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>