<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongqing.dao.ManagementMapper">
  <resultMap id="BaseResultMap" type="com.chongqing.domain.Management">
    <!--@mbg.generated-->
    <!--@Table management-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="sex" jdbcType="OTHER" property="sex" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, house_id, mobile, `name`, `password`, photo, qq, sex, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from management
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from management
    <where>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=BIGINT}
      </if>
      <if test="mobile != null">
      AND  mobile like concat('%',#{mobile},'%')
      </if>
      <if test="name != null">
      AND  `name` like concat('%',#{name},'%')
      </if>
      <if test="photo != null">
      AND  photo like concat('%',#{photo},'%')
      </if>
      <if test="qq != null">
      AND  qq like concat('%',#{qq},'%')
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=OTHER}
      </if>
    </where>
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `management`
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from management
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chongqing.domain.Management">
    <!--@mbg.generated-->
    insert into management (id, house_id, mobile, 
      `name`, `password`, photo, 
      qq, sex, info)
    values (#{id,jdbcType=BIGINT}, #{houseId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{sex,jdbcType=OTHER}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chongqing.domain.Management">
    <!--@mbg.generated-->
    insert into management
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id =
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=OTHER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chongqing.domain.Management">
    <!--@mbg.generated-->
    update management
    <set>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=OTHER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chongqing.domain.Management">
    <!--@mbg.generated-->
    update management
    set house_id = #{houseId,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=OTHER},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>